* {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, rgb(61, 61, 61), rgba(64, 86, 134, 0.8), rgb(61, 61, 61));
}

h3 {
  color: white;
  font-size: 4rem;
  text-align: center;
}